.DS_Store
*.orig
*.class
.idea
.project
*.jasper
*.war
*.iml
*.iws
*.ipr
.settings
.classpath
classpath
batchFiles
target
target-eclipse
web-app/WEB-INF/classes
stacktrace.log
CodeNarcReport.html
/.settings/
/images/.settings/
/scripts
/lib
/wrapper
grailsw
grailsw.bat
axis.log
logs
/data
